/* src/components/Objective.css */
#objective {
    padding: 40px;
    background-color: #e9ecef; /* Couleur de fond claire */
    border-radius: 8px; /* Coins arrondis */
}

#objective h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40; /* Couleur du titre */
}

#objective p {
    font-size: 1.1rem; /* Taille de la police pour le texte */
    line-height: 1.6; /* Espacement entre les lignes */
}
